@font-face {
    font-family: 'roboto', sans-serif;
    src: url('Roboto-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    font-weight: 400;
}

@font-face {
    font-family: 'roboto', sans-serif;
    src: url('Roboto-Light.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    font-weight: 300;
}

@font-face {
    font-family: 'roboto', sans-serif;
    src: url('Roboto-Bold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    font-weight: 700;
}
