<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>


    <session-config>
        <session-timeout>100</session-timeout>
    </session-config>

    <error-page>
        <error-code>404</error-code>
        <location>/AppErrorHandler</location>
    </error-page>
    <!---->
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>com.lv339.servlets.filters.AdminAuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>CabinetFilter</filter-name>
        <filter-class>com.lv339.servlets.filters.CabinetAuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CabinetFilter</filter-name>
        <url-pattern>/cabinet</url-pattern>
        <url-pattern>/cabinet.jsp</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>CustomerManagementFilter</filter-name>
        <filter-class>com.lv339.servlets.filters.CustomerManagementAuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CustomerManagementFilter</filter-name>
        <url-pattern>/add-customer</url-pattern>
        <url-pattern>/add-customer.jsp</url-pattern>
        <url-pattern>/update-customer</url-pattern>
        <url-pattern>/update-customer.jsp</url-pattern>
        <url-pattern>/delete-customer</url-pattern>
        <url-pattern>/delete-customer.jsp</url-pattern>
    </filter-mapping>
</web-app>